html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto 25rem auto

}

* {
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-row: 1 / 2;
    grid-column: 1 / 11;

    
}


.mysite{
    grid-column: 1 / 4;
    align-self: center;
    margin: 1.5rem;
    
}

.items{
    list-style: none;
    grid-column: 8 / 11;
    margin: 1.5rem;
    cursor: pointer;
}


.items > ul{
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));  
    justify-items:end;
    align-items: center;
}

.item{
    list-style: none;

}

/* end of navbar */
/* sidebar */

.sidebar{
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: white;
    z-index: 5;
    display: none;
    flex-direction: column;
    align-items: center;
    right: 0;
    box-shadow: -0.3rem -0.2rem 0.2rem #aaa;

}

.sidebar > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem
}

.sidebar > ul > :nth-child(1){
    margin-top: 2rem
}

.menu{
    display: none
}

.exit{
    position:absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem

}

/* end of sidebar */
/* header */
.header{
    grid-column: 1 / 11;
    grid-row: 2/ 3;
    background-color: #E0EDF7;
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header > h1 {
    font-size: 4rem;
}

/* end of header */
/* Main content */
.container{
    grid-column: 3 / 9;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    width: 120rem;
    margin-top: 2rem;
    gap: 2rem
    
}



.promotion{
    display: flex;
    align-items: center;
    background-color: #CFDDE7;
}

.promotion > div{
    margin-left: 1rem
}

.promotion-1{
    grid-column: 1 / 2;
    grid-row: 1 / 2
}

.promotion-2{
    grid-column: 2 / 4;
    grid-row: 1 / 2
}

.promotion-3{
    grid-column: 4 / -1;
    grid-row: 1 / 2
}


.title{
    position: relative;
    
}

.title > img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.title > div{
    background-color:rgba(144, 238, 144, 0.5);
    position: absolute;
    bottom:0rem;
    width: 100%;
    text-align: center;
    padding-top: .7rem;
    padding-bottom: .7rem;
}


.star{
 background-color: transparent;
 border: none;
 color: orange;
 opacity: 0.5;
 position: absolute;
 top: 1rem;
 right: 1rem;
 cursor:pointer;
}

.title-1{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 100%;

}

.title-2{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100%
}


.title-3{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 100%
}




.title-4{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    height: 100%
}



.title-5{
    grid-column: 5 / -1;
    grid-row: 2 / 3;
    height: 100%
}








.title-6{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 100%;

}

.title-7{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 100%
}


.title-8{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    height: 100%
}


.title-9{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    height: 100%
}



.title-10{
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    height: 100%
}


/* end of Main content */

@media (max-width:1200px) {


    
    .promotion-1{
        grid-column: 1 / 3;
        grid-row: 1 / 2
    }
    .promotion-2{
        grid-column: 3 / -1;
        grid-row: 1 / 2
    }


    .promotion-3{
        grid-column: 1 / -1;
        grid-row: 2 / 3
    }

    .container{
        width: 90vw;
        margin: 2rem auto auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        
    }
    .items{
        
        grid-column: 7 / 11;
    
    }
    .title-1{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .title-2{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .title-3{
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    .title-4{
        grid-column: 4 / 5;
        grid-row: 3 / 4; 
    }
    .title-5{
        grid-column: 1 / 2;
        grid-row: 4 / 5;   
    }
    .title-6{
        grid-column: 2 / 3;
        grid-row: 4 / 5;    
    }
    .title-7{
        grid-column: 3 / 4;
        grid-row: 4 / 5;  
    }
    .title-8{
        grid-column: 4 / 5;
        grid-row: 4 / 5;   
    }
    .title-9{
        grid-column: 1 / 3;
        grid-row: 5 / 6;   
    }
    .title-10{
        grid-column: 3 / 5;
        grid-row: 5 / 6;   
    }
    


}

@media (max-width:600px){
    .mysite{
        grid-column: 1 / 7;
    }
    .items{
        display: none
    }
    .menu{
        display: block;
        grid-column: 10 /11;
        margin: .55rem auto auto auto
    }   

    .header > h1 {
        text-align: center;
        font-size: 3rem
    }

    .container{
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(13, auto);
        margin-top: 2rem;
        gap: 2rem;
        
    }


    .promotion-1{
        grid-column: 1 / -1;
        grid-row: 1 / 2
    }
    .promotion-2{
        grid-column: 1 / -1;
        grid-row: 2 / 3
    }
    .promotion-3{
        grid-column: 1 / -1;
        grid-row: 3 / 4
    }
    
    /* titles */
    
    .title-1{
        grid-column: 1 / -1;
        grid-row: 4 / 5;
    
    }

    .title-2{
        grid-column: 1 / -1;
        grid-row: 5 / 6;
    
    }
    .title-3{
        grid-column: 1 / -1;
        grid-row: 6 / 7;
    
    }


    .title-4{
        grid-column: 1 / -1;
        grid-row: 7 / 8;
    
    }
    .title-5{
        grid-column: 1 / -1;
        grid-row: 8 / 9;
    
    }
    .title-6{
        grid-column: 1 / -1;
        grid-row: 9 / 10;
    
    }
    .title-7{
        grid-column: 1 / -1;
        grid-row: 10 / 11;
    
    }
    .title-8{
        grid-column: 1 / -1;
        grid-row: 11 / 12;
    
    }
    .title-9{
        grid-column: 1 / -1;
        grid-row: 12 / 13;
    
    }
    .title-10{
        grid-column: 1 / -1;
        grid-row: 13 / 14;
    
    }
    
    /* end of titles */
}